body{
    background-color: rgb(222, 234, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, p{
    text-align: center;
}

h1{
    margin-bottom: 2px;
}
p{
    font-size: 15px;
}
form{
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
    width: 60vw;
}
fieldset{
    border-bottom: 3px solid brown;
    padding: 2rem 0;
    border: none;
}
fieldset:last-of-type{
    border: none;
}
label{
    display: block;
    margin: 0.5rem 0;
}
input, select, textarea{
    display: inline-block;
    min-height: 1.5em;
    padding: 3px;
    margin: 2px 0 0 0;
    width: 80%;
}
fieldset legend{
    margin-bottom: 0.5em;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="file"]{
    padding: 1px 2px;
}
a{
    margin-bottom: 5px;
}
section a, section label, section button{
    display: block;
    margin-bottom: 1.5em;
}
button{
    display: block;
    width: 40%;
    height: 35px;
    padding: 3px;
    margin: 1em auto 0;
    font-size: medium;
}

